@keyframes line-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes tag1-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag2-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag3-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag4-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag5-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag6-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag7-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag8-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag9-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag10-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag11-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag12-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag13-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag14-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag15-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes line-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes square-1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30vw, 0);
  }
  50% {
    transform: translate(30vw, 50vw);
  }
  75% {
    transform: translate(30vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-35vw, 0);
  }
  50% {
    transform: translate(-35vw, -20vw);
  }
  75% {
    transform: translate(-35vw, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-480px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes square-4 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(500px, 0);
  }
  50% {
    transform: translate(500px, -500px);
  }
  75% {
    transform: translate(500px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-5 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes cl1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-470px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cl2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(470px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes orbit-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counter-orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes dvd-bounce {
  0% {
    top: 5%;
    left: 5%;
  }
  15% {
    top: 5%;
    left: 35%;
  }
  30% {
    top: -15%;
    left: -1%;
  }
  45% {
    top: 10%;
    left: 20%;
  }
  60% {
    top: -21%;
    left: 10%;
  }
  75% {
    top: 10%;
    left: 10%;
  }
  100% {
    top: 5%;
    left: 5%;
  }
}

@keyframes D-move {
  0%,
  15% {
    opacity: 0;
  }

  15%,
  25% {
    transform: none;
    animation-timing-function: cubic-bezier(1, -0.5, 0.95, 0.89);
    width: 5vw;
    height: 40vw;
    top: 8.5vw;
    left: 35vw;
    opacity: 1;
  }

  35%,
  45% {
    transform: translateX(20vw);
    width: 5vw;
    height: 100vw;
    top: 8vw;
    animation-timing-function: linear;
    opacity: 1;
  }

  70%,
  100% {
    transform: translateX(20vw) translateY(10vw);
    width: 5vw;
    height: 45vw;
    top: 8vw;
    opacity: 0;
  }
}

@keyframes N-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes V-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes B-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes O-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Z-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes K-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes U-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes E-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes R-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes kvadrat1-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kvadrat2-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kvadrat3-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kvadrat4-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kvadrat5-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kvadrat6-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kvadrat7-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kvadrat8-blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes DVD {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(400px, 400px);
  }

  40% {
    transform: translate(200px, 200px);
  }

  60% {
    transform: translate(50px, 70px);
  }

  80% {
    transform: translate(20px, 80px);
  }

  100% {
    transform: translate(0, 0);
  }
}
