@keyframes line-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes tag1-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag2-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag3-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag4-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag5-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag6-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag7-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag8-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag9-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag10-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}

@keyframes tag11-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag12-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag13-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag14-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes tag15-fall {
  0% {
    transform: translateY(-1000%);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: translateY(1700%);
    opacity: 1;
  }
  100% {
    transform: translateY(1700%);
    opacity: 1;
  }
}
@keyframes line-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* @keyframes square-1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(500px, 0);
  }
  50% {
    transform: translate(500px, 600px);
  }
  75% {
    transform: translate(500px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-450px, 0);
  }
  50% {
    transform: translate(-450px, -300px);
  }
  75% {
    transform: translate(-450px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-480px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes square-4 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(500px, 0);
  }
  50% {
    transform: translate(500px, -500px);
  }
  75% {
    transform: translate(500px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-5 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes cl1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-370px);
  }
  100% {
    transform: translateX(0);
  }
} */

@keyframes cl2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(370px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes orbit-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counter-orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes dvd-bounce {
  0% {
    top: 5%;
    left: 5%;
  } 
  15% {
    top: 5%;
    left: 35%;
  } 
  30% {
    top: -15%;
    left: -1%;
  }
  45% {
    top: 10%;
    left: 20%;
  } 
  60% {
    top: -21%;
    left: 10%;
  } 
  75% {
    top: 10%;
    left: 10%;
  } 
  100% {
    top: 5%;
    left: 5%;
  } 
}
