@font-face {
  font-family: "Drabina-Solid";
  src: url("../fonts/Drabina-Solid.otf") format("opentype"),
    url("../fonts/Drabina-Solid.woff") format("woff"),
    url("../fonts/Drabina-Solid.ttf") format("truetype");
  font-style: solid;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype"),
    url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
