@import "fonts.css";
@import "reset.css";
body {
  width: 100vw;
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.section-1 {
  background-color: black;
  width: 100vw;
  height: 78vw;
}
.typographic {
  width: 93vw;
  margin-left: 2vw;
}
.line-1 {
  background: #a3f606;
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  height: 11vw;
  display: flex;
  align-items: center;
  font-family: "OpenSans";
  font-size: 4.3vw;
  font-weight: 600;
}
.line-1 span {
  display: inline-block;
  padding-left: 100%;
  animation: line-1 15s linear infinite;
}
.section-bl {
  background-color: black;
  height: 66vw;
  margin-top: 2.7vw;
}

.section-wh {
  background-color: white;
  width: 45vw;
  height: 57vw;
  margin-left: 3.5vw;
  margin-top: 4.7vw;
  position: absolute;
  overflow: hidden;
}
/* ЗЕЛЕНАЯ СЕКЦИЯ С КРУГОМ ВНУТРИ */
.section-green {
  background-color: #a4ff00;
  width: 45vw;
  height: 57vw;
  margin-left: 51.5vw;
  margin-top: -61.3vw;
  position: absolute;
  overflow: hidden;
}

.round-1 {
  position: absolute;
  width: 37vw;
  margin-left: 3.7vw;
  margin-top: 10vw;
  animation: orbit-spin 8s linear infinite;
  transform-origin: center center;
}

.round-2 {
  position: absolute;
  width: 29vw;
  margin-top: 13.95vw;
  margin-left: 7.65vw;
  animation: counter-orbit 8s linear infinite;
  transform-origin: center center;
}

.round-3 {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #000;
  margin-top: 30vw;
  margin-left: 12.5vw;
  animation: dvd-bounce 7s linear infinite;
}
.poster-1 {
  width: 44vw;
  margin-left: 0.2vw;
  margin-top: 0.6vw;
}
.tag1 {
  position: absolute;
  top: 2.3vw;
  left: 3.4vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag1-fall 5s linear infinite;
}

.tag2 {
  position: absolute;
  top: 5.4vw;
  left: 29.6vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 3s linear infinite;
}
.tag3 {
  position: absolute;
  top: 0.8vw;
  left: 19.5vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 7s linear infinite;
}
.tag4 {
  position: absolute;
  top: 5.4vw;
  left: 9.3vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 4s linear infinite;
}
.tag5 {
  position: absolute;
  top: 15.6vw;
  left: 1.6vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 3s linear infinite;
}
.tag6 {
  position: absolute;
  top: 31vw;
  left: 31vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 5s linear infinite;
}
.tag7 {
  position: absolute;
  top: 4vw;
  left: 40vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 5s linear infinite;
}
.tag8 {
  position: absolute;
  top: 6.6vw;
  left: -5.5vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 8s linear infinite;
}

.tag9 {
  position: absolute;
  top: 40vw;
  left: 8vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 8s linear infinite;
}

.tag10 {
  position: absolute;
  top: 20vw;
  left: 34vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 8s linear infinite;
}

.tag11 {
  position: absolute;
  top: 12.4vw;
  left: 32vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 8s linear infinite;
}

.tag12 {
  position: absolute;
  top: 29.4vw;
  left: 29.4vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 3s linear infinite;
}
.tag13 {
  position: absolute;
  top: 23vw;
  left: 17vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 8s linear infinite;
}
.tag14 {
  position: absolute;
  top: 22vw;
  left: 50vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 8s linear infinite;
}
.tag15 {
  position: absolute;
  top: 3vw;
  left: 12.9vw;
  display: inline-block;
  padding: 0.8vw 1vw;
  background-color: #a4ff00;
  color: #000;
  font-family: "OpenSans";
  font-weight: 600;
  animation: tag2-fall 8s linear infinite;
}

.section-3 {
  background-color: #000;
  height: 108vw;
}

.line-2 {
  background: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 11vw;
  display: flex;
  align-items: center;
  font-family: "OpenSans";
  font-size: 4vw;
  font-weight: 600;
}
.line-2 span {
  display: inline-block;
  padding-left: 100%;
  animation: line-2 15s linear infinite;
}

.square-1 {
  overflow: hidden;
  position: absolute;
  width: 15.8vw;
  margin-top: 6.9vw;
  margin-left: 3.1vw;
  animation: square-1 2s linear infinite;
}

.square-2 {
  overflow: hidden;
  position: absolute;
  width: 15.8vw;
  margin-top: 6.9vw;
  margin-left: 81vw;
  animation: square-2 1.5s linear infinite;
}

.square-3 {
  overflow: hidden;
  position: absolute;
  width: 15.8vw;
  margin-top: 28vw;
  margin-left: 40vw;
  animation: square-3 2s linear infinite;
}

.square-4 {
  overflow: hidden;
  width: 15.8vw;
  position: absolute;
  margin-top: 55vw;
  margin-left: 59vw;
  animation: square-4 2s linear infinite;
}

.square-5 {
  overflow: hidden;
  width: 15.8vw;
  position: absolute;
  margin-top: 55vw;
  margin-left: 25vw;
  animation: square-5 2s linear infinite;
}
.cl1 {
  position: absolute;
  font-family: "OpenSans";
  color: #ffffff;
  font-size: 7.8vw;
  font-weight: 400;
  margin-top: 75vw;
  margin-left: 35vw;
  animation: cl1 4s linear infinite;
}
.cl2 {
  position: absolute;
  font-family: "OpenSans";
  color: #a4ff00;
  font-size: 7.8vw;
  font-weight: 400;
  margin-top: 81.5vw !important;
  margin-left: 0.2vw;
  animation: cl2 4s linear infinite;
}
.section-black {
  background-color: #000;
  height: 142vw;
  position: relative;
}

/* WHITEEEEEEEEEEEEEEEEEEE
EEEEEEE
EEEEEEEE
eEEEEEEEEE */

.white-2 {
  position: absolute;
  background-color: #ffffff;
  width: 45vw;
  height: 57vw;
  margin-top: -0.7vw;
  margin-left: 4vw;
}
.N {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 15vw;
  margin-top: -2.3vw;
  margin-left: 1vw;
  animation: N-blink 4s infinite;
}
.V {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 9vw;
  margin-top: -33vw;
  margin-left: 17vw;
  transform: rotate(-20deg);
  animation: V-blink 1s infinite;
}
.B {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 25vw;
  margin-top: -15vw;
  margin-left: 25vw;
  animation: B-blink 2s infinite;
}
.O {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 8vw;
  margin-top: -39vw;
  margin-left: 4vw;
  animation: O-blink 4s infinite;
}
.Z {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 18vw;
  margin-top: -23vw;
  margin-left: 14vw;
  transform: rotate(-30deg);
  animation: Z-blink 1.5s infinite;
}
.K {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 18vw;
  margin-top: -21vw;
  margin-left: 1, 5vw;
  animation: K-blink 1s infinite;
}
.U {
  position: absolute;
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 18vw;
  margin-top: -23vw;
  margin-left: 10vw;
  animation: U-blink 2s infinite;
}
.e {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 11vw;
  margin-top: -33vw;
  margin-left: 22vw;
  animation: E-blink 4s infinite;
}
.R {
  font-family: "Drabina-Solid";
  color: #000;
  font-size: 21vw;
  margin-top: -17vw;
  margin-left: 29vw;
  animation: R-blink 2.5s infinite;
}

.kvadrat1 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -73vw;
  margin-left: 6vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat1-blink 0.8s infinite;
}

.kvadrat2 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -79vw;
  margin-left: 36vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat2-blink 1s infinite;
}
.kvadrat3 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -60.5vw;
  margin-left: 19vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat3-blink 1s infinite;
}
.kvadrat4 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -63vw;
  margin-left: 32vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat4-blink 2s infinite;
}
.kvadrat5 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -51vw;
  margin-left: 38vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat5-blink 1s infinite;
}
.kvadrat6 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -54vw;
  margin-left: 6vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat6-blink 2.5s infinite;
}
.kvadrat7 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -39vw;
  margin-left: 24vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat7-blink 1s infinite;
}
.kvadrat8 {
  width: 5vw;
  height: 5vw;
  background-color: #a4ff00;
  font-family: "OpenSans", sans-serif;
  font-size: 2vw;
  margin-top: -35vw;
  margin-left: 3vw;
  position: absolute;
  color: #000;
  text-align: center;
  line-height: 5vw;
  animation: kvadrat8-blink 0.8s infinite;
}

.zeleny {
  position: absolute;
  background-color: #a4ff00;
  width: 44vw;
  height: 57vw;
  margin-top: -142.7vw;
  margin-left: 52.2vw;
  overflow: hidden;
}
.D {
  position: absolute;
  font-family: "Drabina-Solid";
  font-size: 15vw;
  margin-left: -30vw;
  margin-top: 15vw;
  animation: D-move 4s infinite ease-out;
}
.priamoug {
  position: absolute;
  width: 5vw;
  height: 40vw;
  background-color: #000;
  top: 8.5vw;
  left: 35vw;
}
.DVD {
  width: 25vw;
  margin-top: -10vw;
  animation: DVD 6s linear infinite;
}
.futer {
  position: absolute;
  background-color: #a4ff00;
  height: 26vw;
  width: 100vw;
}
.chance {
  width: 98vw;
  margin-top: 3.5vw;
  margin-left: 1vw;
  animation: blink 1s infinite;
}
